@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

body {
  background-color: #1c1b21;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    padding: 0 25px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }
}

h1, h2 {
  position: relative;
  margin-left: 83px;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
}

@media (max-width: 1200px) {
  h1, h2 {
    font-size: 42px;
  }
}

@media (max-width: 992px) {
  h1, h2 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  h1, h2 {
    font-size: 32px;
  }
}

h1::before, h2::before {
  content: "";
  position: absolute;
  left: -80px;
  bottom: 0;
  height: 31px;
  width: 64px;
  background: url("../img/03-about-us/01-pin.png") 0 0 no-repeat;
}

.header {
  margin-bottom: 180px;
  background: url("../img/01-first-screen/02-background.png") center/cover no-repeat;
}

@media (max-width: 1200px) {
  .header {
    margin-bottom: 150px;
  }
}

@media (max-width: 992px) {
  .header {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .header {
    margin-bottom: 30px;
  }
}

.header-row {
  padding-top: 30px;
  margin-bottom: 332px;
}

@media (max-width: 767px) {
  .header-row {
    padding-top: 15px;
  }
}

@media (max-width: 1200px) {
  .header-row {
    margin-bottom: 200px;
  }
}

@media (max-width: 992px) {
  .header-row {
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .header-row {
    margin-bottom: 30px;
  }
}

.header-body {
  margin-bottom: 207px;
}

@media (max-width: 1200px) {
  .header-body {
    margin-bottom: 130px;
  }
}

@media (max-width: 992px) {
  .header-body {
    margin-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .header-body {
    margin-bottom: 30px;
  }
}

.row-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .row-header__logo {
    margin: 0 auto;
  }
}

.row-header__logo--img {
  margin-left: 95px;
}

@media (max-width: 1200px) {
  .row-header__logo--img {
    margin-left: 50px;
  }
}

@media (max-width: 992px) {
  .row-header__logo--img {
    margin-left: 0px;
  }
}

.row-header__logo--name {
  margin: 15px 65px 0 20px;
}

@media (max-width: 992px) {
  .row-header__logo--name {
    margin-right: 30px;
  }
}

.row-header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media (max-width: 767px) {
  .row-header__nav {
    display: none;
  }
}

.row-header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-header__nav > ul > li {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  overflow: hidden;
}

.row-header__nav > ul > li::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #7A66CC;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.row-header__nav > ul > li:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #7A66CC;
}

.row-header__nav > ul > li:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.body-header__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

@media (max-width: 1200px) {
  .body-header__subtitle {
    font-size: 42px;
    line-height: 60px;
  }
}

@media (max-width: 992px) {
  .body-header__subtitle {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  .body-header__subtitle {
    font-size: 28px;
    line-height: 30px;
  }
}

.body-header__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: transparent;
  -webkit-text-stroke: 1px #FFFFFF;
}

@media (max-width: 1200px) {
  .body-header__title {
    font-size: 80px;
    line-height: 120px;
  }
}

@media (max-width: 992px) {
  .body-header__title {
    font-size: 60px;
    line-height: 90px;
  }
}

@media (max-width: 767px) {
  .body-header__title {
    font-size: 50px;
    line-height: 75px;
  }
}

@media (max-width: 425px) {
  .body-header__title {
    font-size: 40px;
    line-height: 60px;
  }
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

@media (max-width: 1200px) {
  .news {
    margin: 0 -10px;
  }
}

@media (max-width: 992px) {
  .news {
    margin: 0 -5px;
  }
}

@media (max-width: 500px) {
  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.news-item {
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .news-item {
    padding: 0 10px;
  }
}

@media (max-width: 992px) {
  .news-item {
    padding: 0 5px;
  }
}

@media (max-width: 767px) {
  .news-item {
    margin-top: 15px;
  }
}

.news-item img {
  max-width: 100%;
}

.news-item__wrapper {
  position: relative;
  border-radius: 20px 0;
  overflow: hidden;
}

.news-item__content {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  background: #7A66CC;
  opacity: 0.7;
  border-radius: 20px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 1200px) {
  .news-item__content {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 15px;
  }
}

@media (max-width: 992px) {
  .news-item__content {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 10px;
  }
}

.news-item:hover .news-item__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about {
  margin-bottom: 305px;
}

@media (max-width: 1200px) {
  .about {
    margin-bottom: 250px;
  }
}

@media (max-width: 992px) {
  .about {
    margin-bottom: 120px;
  }
}

@media (max-width: 767px) {
  .about {
    margin-bottom: 30px;
  }
}

.about-row {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .about-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-body {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about-photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.body-about__text {
  margin: 80px 0 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .body-about__text {
    margin: 60px 0 25px;
    line-height: 22px;
  }
}

@media (max-width: 992px) {
  .body-about__text {
    margin: 40px 0 20px;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .body-about__text {
    margin: 30px auto 15px;
    line-height: 18px;
  }
}

.body-about__thing > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-about__thing > ul > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 50px;
  margin-top: 30px;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

@media (max-width: 1200px) {
  .body-about__thing > ul > li {
    font-size: 16px;
    padding-left: 45px;
    margin-top: 25px;
  }
}

@media (max-width: 992px) {
  .body-about__thing > ul > li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media (max-width: 767px) {
  .body-about__thing > ul > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-left: 50px;
  }
}

@media (max-width: 500px) {
  .body-about__thing > ul > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.body-about__thing > ul > li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background: url("../img/icons/mark.png") 0 0 no-repeat;
}

.photo-about {
  height: 466px;
  width: 445px;
  position: relative;
}

@media (max-width: 1200px) {
  .photo-about {
    height: 440px;
    width: 400px;
  }
}

@media (max-width: 992px) {
  .photo-about {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 500px) {
  .photo-about {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.photo-about__profile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.photo-about__subprofile {
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 1;
}

.text {
  margin-bottom: 265px;
}

@media (max-width: 500px) {
  .text {
    margin-top: -70px;
  }
}

@media (max-width: 1200px) {
  .text {
    margin-bottom: 180px;
  }
}

@media (max-width: 992px) {
  .text {
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .text {
    margin-bottom: 30px;
  }
}

.text-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 30px 0px;
  margin: 0 -30px;
}

@media (max-width: 992px) {
  .text-row {
    margin: 0 -15px;
  }
}

@media (max-width: 767px) {
  .text-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
  }
}

.text-body {
  padding: 0 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

@media (max-width: 992px) {
  .text-body {
    padding: 0 15px;
  }
}

.text-image {
  position: absolute;
  right: 80px;
  top: -85px;
}

@media (max-width: 1200px) {
  .text-image {
    right: 10px;
    top: -90px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 992px) {
  .text-image {
    right: -35px;
    top: -130px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media (max-width: 767px) {
  .text-image {
    position: static;
    -webkit-transform: scale(1);
            transform: scale(1);
    padding: 0 20px;
  }
}

.text-image img {
  max-width: 100%;
}

.body-text {
  padding: 50px 60px 50px 80px;
}

@media (max-width: 1200px) {
  .body-text {
    padding: 40px 50px 40px 70px;
  }
}

@media (max-width: 992px) {
  .body-text {
    padding: 15px 25px 15px 40px;
  }
}

@media (max-width: 767px) {
  .body-text {
    padding: 15px;
  }
}

.body-text__content {
  padding-bottom: 25px;
  position: relative;
  max-width: 520px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  border-bottom: 1px solid #fff;
}

@media (max-width: 992px) {
  .body-text__content {
    font-size: 16px;
    line-height: 22px;
    max-width: 425px;
    padding-bottom: 20px;
  }
}

.body-text__content::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 103px;
  height: 92px;
  background: url("../img/icons/“.png");
}

.body-text__link {
  display: block;
  margin-top: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #7A66CC;
}

@media (max-width: 992px) {
  .body-text__link {
    margin-top: 20px;
  }
}

.tracks {
  margin-bottom: 180px;
}

@media (max-width: 1200px) {
  .tracks {
    margin-bottom: 150px;
  }
}

@media (max-width: 992px) {
  .tracks {
    margin-bottom: 120px;
  }
}

@media (max-width: 425px) {
  .tracks {
    margin-bottom: 40px;
  }
}

.tracks-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .tracks-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
}

.tracks-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

@media (max-width: 767px) {
  .tracks-img {
    max-width: 240px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    opacity: 0.4;
  }
}

@media (max-width: 425px) {
  .tracks-img {
    display: none;
  }
}

.tracks-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

@media (max-width: 1200px) {
  .tracks-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 55%;
            flex: 1 0 55%;
  }
}

@media (max-width: 992px) {
  .tracks-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
  }
}

@media (max-width: 767px) {
  .tracks-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    position: relative;
    z-index: 2;
  }
}

.img-tracks {
  margin: 0 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 20px rgba(122, 102, 204, 0.6), 0 0 0 40px rgba(122, 102, 204, 0.3);
          box-shadow: 0 0 0 20px rgba(122, 102, 204, 0.6), 0 0 0 40px rgba(122, 102, 204, 0.3);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.img-tracks img {
  max-width: 100%;
}

.img-tracks:hover {
  -webkit-animation: track 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite normal running 0s none;
          animation: track 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite normal running 0s none;
}

@-webkit-keyframes track {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 30px rgba(122, 102, 204, 0.6), 0 0 0 60px rgba(122, 102, 204, 0.3);
            box-shadow: 0 0 0 30px rgba(122, 102, 204, 0.6), 0 0 0 60px rgba(122, 102, 204, 0.3);
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 20px rgba(122, 102, 204, 0.6), 0 0 0 40px rgba(122, 102, 204, 0.3);
            box-shadow: 0 0 0 20px rgba(122, 102, 204, 0.6), 0 0 0 40px rgba(122, 102, 204, 0.3);
  }
}

@keyframes track {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 30px rgba(122, 102, 204, 0.6), 0 0 0 60px rgba(122, 102, 204, 0.3);
            box-shadow: 0 0 0 30px rgba(122, 102, 204, 0.6), 0 0 0 60px rgba(122, 102, 204, 0.3);
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 20px rgba(122, 102, 204, 0.6), 0 0 0 40px rgba(122, 102, 204, 0.3);
            box-shadow: 0 0 0 20px rgba(122, 102, 204, 0.6), 0 0 0 40px rgba(122, 102, 204, 0.3);
  }
}

.body-tracks {
  margin-left: 15px;
}

@media (max-width: 767px) {
  .body-tracks {
    margin-left: 0;
  }
}

.list-tracks {
  margin-top: 140px;
}

@media (max-width: 1200px) {
  .list-tracks {
    margin-top: 100px;
  }
}

@media (max-width: 992px) {
  .list-tracks {
    margin-top: 60px;
  }
}

.list-tracks__item {
  margin-top: 20px;
  max-width: 520px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

@media (max-width: 1200px) {
  .list-tracks__item {
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 992px) {
  .list-tracks__item {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}

.list-tracks__item > span {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.5;
  display: inline-block;
  width: 30px;
}

.list-tracks__item--active {
  color: #7A66CC;
}

.link-tracks__title {
  margin-top: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: inline-block;
}

@media (max-width: 1200px) {
  .link-tracks__title {
    margin-top: 40px;
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .link-tracks__title {
    margin-top: 30px;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .link-tracks__title {
    margin-top: 20px;
    font-size: 14px;
  }
}

.link-tracks__spotify {
  position: relative;
  padding: 4px 0;
  margin-left: 80px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

@media (max-width: 425px) {
  .link-tracks__spotify {
    margin-left: 50px;
  }
}

.link-tracks__spotify::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -40px;
  height: 30px;
  width: 30px;
  background: url("../img/icons/tracks-Spotify.png");
}

.link-tracks__itunes {
  position: relative;
  padding: 4px 0;
  margin-left: 70px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

@media (max-width: 425px) {
  .link-tracks__itunes {
    margin-left: 50px;
  }
}

.link-tracks__itunes::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -40px;
  height: 30px;
  width: 30px;
  background: url("../img/icons/tracks-iTunes.png");
}

.gallery {
  margin-bottom: 180px;
}

@media (max-width: 1200px) {
  .gallery {
    margin-bottom: 130px;
  }
}

@media (max-width: 992px) {
  .gallery {
    margin-bottom: 90px;
  }
}

.gallery-item img {
  max-width: 100%;
}

.gallery-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

@media (max-width: 992px) {
  .gallery-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

@media (max-width: 767px) {
  .gallery-row {
    max-width: 570px;
    margin: 0 auto;
  }
}

.gallery-column {
  padding: 0 15px;
}

@media (max-width: 992px) {
  .gallery-column {
    padding: 15px;
  }
}

@media (max-width: 767px) {
  .gallery-column {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .gallery-left, .gallery-rigth {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.gallery-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -15px 0;
}

@media (max-width: 992px) {
  .gallery-main {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.gallery-main__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-main__down {
  position: relative;
}

.gallery-main__down > p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #7A66CC;
  z-index: 2;
}

@media (max-width: 992px) {
  .gallery-main__down > p {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .gallery-main__down > p {
    dz: 18px;
  }
}

.gallery-stroke {
  padding: 15px 0;
}

@media (max-width: 767px) {
  .gallery-stroke {
    padding: 10px 0;
  }
}

.main-up {
  margin: 0 -15px;
}

@media (max-width: 767px) {
  .main-up {
    margin: 0 -10px;
  }
}

.main-up > .gallery-item {
  padding: 0 15px;
}

@media (max-width: 767px) {
  .main-up > .gallery-item {
    padding: 0 10px;
  }
}

.swiper {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1340px) {
  .swiper {
    max-width: 910px;
  }
}

@media (max-width: 1200px) {
  .swiper {
    max-width: 720px;
  }
}

@media (max-width: 940px) {
  .swiper {
    max-width: 350px;
  }
}

@media (max-width: 540px) {
  .swiper {
    max-width: 270px;
  }
}

.events {
  position: relative;
  max-width: 1270px;
  margin: 0px auto 180px;
}

@media (max-width: 1340px) {
  .events {
    max-width: 1070px;
  }
}

@media (max-width: 1200px) {
  .events {
    max-width: 890px;
    margin-bottom: 130px;
  }
}

@media (max-width: 940px) {
  .events {
    max-width: 510px;
    margin-bottom: 80px;
  }
}

@media (max-width: 540px) {
  .events {
    max-width: 400px;
    margin-bottom: 40px;
  }
}

@media (max-width: 425px) {
  .events {
    max-width: 270px;
  }
}

.events-button-next {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 60px;
  width: 40px;
  background: url("../img/icons/events-arrow-r.png") center no-repeat;
  border-radius: 10px 0;
  border: 1px solid #FFFFFF;
}

@media (max-width: 425px) {
  .events-button-next {
    top: -50px;
    right: 85px;
  }
}

.events-button-prev {
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 60px;
  width: 40px;
  background: url("../img/icons/events-arrow-l.png") center no-repeat;
  border-radius: 10px 0;
  border: 1px solid #FFFFFF;
}

@media (max-width: 425px) {
  .events-button-prev {
    top: -50px;
    left: 85px;
  }
}

.events-card {
  background: #2F2B2B;
  border-radius: 30px 0px;
  width: 100%;
}

.events-card__image {
  margin-bottom: 30px;
}

@media (max-width: 1340px) {
  .events-card__image {
    margin-bottom: 20px;
  }
}

.events-card__image img {
  max-width: 100%;
}

.events-card__location {
  padding-left: 35px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  opacity: 0.5;
}

@media (max-width: 1340px) {
  .events-card__location {
    padding-left: 20px;
    margin-bottom: 15px;
  }
}

.events-card__placement {
  padding-left: 35px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

@media (max-width: 1340px) {
  .events-card__placement {
    padding-left: 20px;
    margin-bottom: 15px;
  }
}

.events-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events-card__date {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.5;
}

.events-card__tickets {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 18px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  background: #7A66CC;
  border-radius: 30px 0px;
}

.footer {
  max-width: 533px;
  margin: 0 auto;
  overflow-x: hidden;
}

.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -10px 60px;
}

@media (max-width: 767px) {
  .footer__icon {
    margin-bottom: 40px;
  }
}

@media (max-width: 540px) {
  .footer__icon {
    margin-bottom: 25px;
  }
}

.footer__icon img {
  padding: 0 10px;
}

.footer__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .footer__author {
    margin-bottom: 40px;
  }
}

@media (max-width: 540px) {
  .footer__author {
    margin-bottom: 25px;
  }
}

.footer__author-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media (max-width: 540px) {
  .footer__author-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__author-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  margin-right: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  text-transform: uppercase;
}

@media (max-width: 540px) {
  .footer__author-name {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 767px) {
  .footer__author-name {
    font-size: 16px;
    margin-right: 20px;
  }
}

@media (max-width: 540px) {
  .footer__author-name {
    font-size: 14px;
    margin-right: 10px;
  }
}

.footer__author-value {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .footer__author-value {
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .footer__author-value {
    font-size: 14px;
  }
}

.footer__links {
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .footer__links {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .footer__links {
    margin-bottom: 20px;
  }
}

.footer__rigths {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 40px;
}

.links-footer > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 440px) {
  .links-footer > ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.links-footer__item {
  position: relative;
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 440px) {
  .links-footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
  }
}

.links-footer__item:nth-child(n - 3) {
  margin-bottom: 50px;
}

.links-footer__item > a {
  position: relative;
  z-index: 2;
}

.links-footer__item > a > img {
  display: inline-block;
  vertical-align: middle;
}

.links-footer__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  height: 44px;
  width: 44px;
  background-color: #7A66CC;
  border-radius: 50%;
  outline: 8px solid #2C2C2C;
  z-index: 1;
}
